@font-face {
    font-family: "flaticon_regruta_main";
    src: url("../fonts/flaticon_regruta_main.ttf?1f81a317701684681cccf0a18f74421a") format("truetype"),
url("../fonts/flaticon_regruta_main.woff?1f81a317701684681cccf0a18f74421a") format("woff"),
url("../fonts/flaticon_regruta_main.woff2?1f81a317701684681cccf0a18f74421a") format("woff2"),
url("../fonts/flaticon_regruta_main.eot?1f81a317701684681cccf0a18f74421a#iefix") format("embedded-opentype"),
url("../fonts/flaticon_regruta_main.svg?1f81a317701684681cccf0a18f74421a#flaticon_regruta_main") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_regruta_main !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-kanban:before {
    content: "\f101";
}
.flaticon-report:before {
    content: "\f102";
}
.flaticon-dashboard:before {
    content: "\f103";
}
.flaticon-business-report:before {
    content: "\f104";
}
.flaticon-evaluate:before {
    content: "\f105";
}
.flaticon-insight:before {
    content: "\f106";
}
.flaticon-data-visualization:before {
    content: "\f107";
}
.flaticon-headhunting:before {
    content: "\f108";
}
.flaticon-human-resources:before {
    content: "\f109";
}
.flaticon-accept:before {
    content: "\f10a";
}
.flaticon-settings:before {
    content: "\f10b";
}
.flaticon-automation:before {
    content: "\f10c";
}
.flaticon-automation-1:before {
    content: "\f10d";
}
.flaticon-continuous:before {
    content: "\f10e";
}
.flaticon-automation-2:before {
    content: "\f10f";
}
.flaticon-automation-3:before {
    content: "\f110";
}
.flaticon-artificial-intelligence:before {
    content: "\f111";
}
.flaticon-innovation:before {
    content: "\f112";
}
.flaticon-exam:before {
    content: "\f113";
}
.flaticon-exam-1:before {
    content: "\f114";
}
.flaticon-result:before {
    content: "\f115";
}
.flaticon-registration:before {
    content: "\f116";
}
.flaticon-artificial-intelligence-1:before {
    content: "\f117";
}
.flaticon-email:before {
    content: "\f118";
}
.flaticon-email-1:before {
    content: "\f119";
}
.flaticon-mail-send:before {
    content: "\f11a";
}
.flaticon-candidate:before {
    content: "\f11b";
}
.flaticon-search:before {
    content: "\f11c";
}
.flaticon-vote:before {
    content: "\f11d";
}
.flaticon-monitor:before {
    content: "\f11e";
}
.flaticon-dashboard-1:before {
    content: "\f11f";
}
.flaticon-menu:before {
    content: "\f120";
}
.flaticon-group:before {
    content: "\f121";
}
.flaticon-link:before {
    content: "\f122";
}
.flaticon-team:before {
    content: "\f123";
}
.flaticon-team-1:before {
    content: "\f124";
}
.flaticon-group-1:before {
    content: "\f125";
}
.flaticon-group-2:before {
    content: "\f126";
}
.flaticon-follower:before {
    content: "\f127";
}
.flaticon-community:before {
    content: "\f128";
}
.flaticon-user:before {
    content: "\f129";
}
.flaticon-user-1:before {
    content: "\f12a";
}
.flaticon-user-2:before {
    content: "\f12b";
}
.flaticon-profile-user:before {
    content: "\f12c";
}
.flaticon-user-3:before {
    content: "\f12d";
}
.flaticon-shield:before {
    content: "\f12e";
}
.flaticon-reliability:before {
    content: "\f12f";
}
.flaticon-touch:before {
    content: "\f130";
}
.flaticon-data-management:before {
    content: "\f131";
}
.flaticon-digital-services:before {
    content: "\f132";
}
.flaticon-customer-support:before {
    content: "\f133";
}
.flaticon-quality:before {
    content: "\f134";
}
.flaticon-quality-1:before {
    content: "\f135";
}
.flaticon-quality-2:before {
    content: "\f136";
}
.flaticon-online-chat:before {
    content: "\f137";
}
.flaticon-headphones:before {
    content: "\f138";
}
.flaticon-customer-service:before {
    content: "\f139";
}
