<th:block th:fragment="css-template">
	<link rel="stylesheet" th:href="@{/css/company/default/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/company/default/animate.min.css}">
	<link rel="stylesheet" th:href="@{/css/company/default/all-fontawesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/company/default/flaticon_regruta_main.css}">
	<link rel="stylesheet" th:href="@{/css/company/default/jquery-confirm.css}">
	<link rel="stylesheet" th:href="@{/css/company/default/style.css}">
</th:block>

<th:block th:fragment="js-template">
	<script th:src="@{/js/company/default/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/js/company/default/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/company/default/jquery-confirm.js}"></script>
	<script th:src="@{/js/company/default/wow.min.js}"></script>
</th:block>